:root {
  --ao-color: blue;
  --aka-color: red;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
  }
}

.timer-container {
  flex: 1;
  order: 2;
  padding: 10px;
  box-sizing: border-box;
}

.color-container {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.color-container.ao {
  background-color: var(--ao-color);
  order: 1;
}

.color-container.aka {
  background-color: var(--aka-color);
  order: 3;
}

.color-container.scoreboard.ao {
  order: 3;
}

.color-container.scoreboard.aka {
  order: 1;
}

.faults-container {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.faults-container li {
  flex: 1;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
}

.winner {
  font-size: 10vmin;
  line-height: 1em;
  margin: 0.5em;
  text-transform: uppercase;
  color: green;
  opacity: 1;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
